* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: scale(0.1);
    animation: zoom-in 1s forwards;
}
@keyframes zoom-in {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: darkgrey;
    padding: 0 1rem;
}
header h1 {
    margin:auto 0;
}
.navbar {
    display: flex;
    /* height: 20vh; */
    
    justify-content: space-between;
    
}

.navbar span {
    margin: 0 3px;
}



header img {
    height: 5rem;
    margin-top: 1rem;
    animation: portal-animation 4s infinite linear;
}
header img:hover {
    scale:2;
    cursor: pointer;
}

@keyframes portal-animation {
 0% {
    transform: rotate(0deg) scale(1);
 }
 25% {
    transform: scale(1.05) rotate(90deg);
 }
 50% {
    transform: scale(1.1) rotate(180deg);
 }
 75% {
    transform: scale(1.05) rotate(270deg);
 }
 100% {
    transform: rotate(360deg) scale(1);
 }
}

.main {
    /* background-color: white; */
    display: flex;
    width: 90%;
    /* height: 90vh; */
    justify-content: center;
    margin: 0 auto;
}

.article {
    background-color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
    max-width: 900px;
    box-shadow: 0 2px 10px black;
}
.article h1 {
    text-align: center;
    margin-top: 1rem;
}
.article p {
    margin-top: 1rem;
}