body {
    height:100vh;

}

* {
    margin: 0;
    padding: 0;
}

#maintitle{
    opacity:100%;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size:8.5rem;
    outline:10px grey;
    text-align: center;
    position: absolute;
    text-shadow: 10px 10px 10px rgb(92, 92, 92);
    -webkit-text-stroke: 1px rgba(247, 247, 247, 0.226);
}
.container{
    display: flex;
    /* flex-direction: column; */
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    /* overflow-x:wrap; */
    /* overflow:wrap;   */
        text-shadow: 10px 10px 10px rgb(92, 92, 92);
    
}
.feature{
    display: flex;
background-color: whitesmoke;
align-items: top;
justify-content: center;
width:100%;
height:90vh;
}
.container.background {
    background: url("https://pyxis.nymag.com/v1/imgs/e9d/1f3/b597372347a09beca86aaf1b6253bf70fd-rick-and-morty.rsocial.w1200.jpg") no-repeat;
    background-size:cover;
    position: fixed;
    z-index:-1;
}
.subtitle {
    margin: 5rem 5rem 1rem 5rem;
    color:rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    text-align:center;

}

.alinks1{
    width:80vw;
    height:26vh;
    background-color: hotpink;
    margin-top:4rem;

}

.alinks2{
    width:80vw;
    height:26vh;
    background-color:lime;
    margin-top:4rem;
}

.uline {
    border-style:dotted;
    border-bottom-style: hidden;
    border-width: 1rem;
    border-radius: 200% ;
    border-color:grey;
    opacity:60%;
}

/* .container::-webkit-scrollbar {
    display: none;
  } */